<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cloud Nine Beauty School</title>
    </head>
    <style>

        .column {
            float: left;
            width: 45%; 
            padding: 20px; 
        }

        .payments {
            border-left: 1px solid black; 
        }

        .inline-table {
            display: inline-block;
        }
        
        .row:nth-child(odd) { background-color: blanchedalmond !important; }

    </style>
    <body>
        <div class="container">
            <div class="column">
                <h2>Students</h2>
                <table class="in-line-table">
                    <tr>
                        <td><u>Student ID</u></td>
                        <td><u>First Name</u></td>
                        <td><u>Last Name</u></td>
                        <td><u>Program</u></td>
                        <td><u>Status</u></td>
                        <td><u>Tuition</u></td>
                        <td><u>Paid</u></td>
                        <td><u>Balance</u></td>
                    </tr>
                    {% for key, value in students.items() %}
                    <tr class="row">
                        <td>{{value[0]}}</td>
                        <td>{{value[1]}}</td>
                        <td>{{value[2]}}</td>
                        <td>{{value[3]}}</td>
                        <td>{{value[4]}}</td>
                        <td>{{value[5]}}</td>
                        <td>{{value[6]}}</td>
                        <td>{{value[7]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <div>
                    Insert new student: 
                    <form method="POST" action="/add_student">
                        <p>First name: <input type="text" name="fname"></p>
                        <p>Last name: <input type="text" name="lname"></p>
                        <p>
                            <label for="program">Program:</label>
                            <select id="programs" name="program">
                                <option>f</option>
                                <option>n</option>
                            </select>
                        </p>
                        <p>
                            <label for="status">Status:</label>
                            <select id="statuses" name="status">
                                <option>current</option>
                                <option>graduated</option>
                            </select>
                        </p>
                        <p>Tuition: <input type="number" name="tuition"></p>
                        <p>Paid: <input type="number" name="paid"></p>
                        <p><input type="submit" value="Insert"></p>
                    </form>
                </div>
            </div>
            <div class="column payments">
                <h2>Payments</h2>
                <table class="in-line-table">
                    <tr>
                        <td><u>Student ID</u></td>
                        <td><u>Payment ID</u></td>
                        <td><u>First Name</u></td>
                        <td><u>Last Name</u></td>
                        <td><u>Date</u></td>
                        <td><u>Amount</u></td>
                    </tr>
                    {% for key, value in payments.items() %}
                    <tr class="row">
                        <td>{{value[0]}}</td>
                        <td>{{value[1]}}</td>
                        <td>{{value[2]}}</td>
                        <td>{{value[3]}}</td>
                        <td>{{value[4]}}</td>
                        <td>{{value[5]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <div>
                    Insert new payment: 
                    <form method="POST" action="/add_payment">
                        <p>Student ID: <input type="text" name="uuid"></p>
                        <p>Date: <input type="date" name="date"></p>
                        <p>Amount: <input type="number" name="amount"></p>
                        <p><input type="submit" value="Insert"></p>
                    </form>
                </div>
                <br/>
                <br/>
                <div>
                    Generate receipt:
                    <form method="POST" action="/generate_receipt">
                        <p>Student ID: <input type="text" name="uuid"> <input type="submit" value="Generate"></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>